<div class="card jumbotron bg-light">
  <div class="card-body text-center">
    <h1 class="card-title font-weight-bold">Bem vindo ao Venda Veículo!</h1>
    <h2 class="card-text font-weight-light">Procurando um veículo?</h2>
    <a [routerLink]="'/veiculos'" class="btn btn-outline-primary btn-lg mt-4">Encontre o seu aqui</a>
    <div class="text-left">
      <br>
      <ul class="list-group">
        <li class="list-group-item">1- ajuste o código do front-end e back-end para atualizar o veículo.</li>
        <li class="list-group-item">2- ajuste o código do front-end e back-end para adicionar a proposta.</li>
        <li class="list-group-item">3- ajuste o código do front-end e back-end para listar os veículos.</li>
        <li class="list-group-item">4- menu proposta não está funcionando, corrija sua rota. (Solucionado)</li>
        <li class="list-group-item">5- ajuste o código do front-end para adicionar veículo.</li>
      </ul>
    </div>
  </div>
</div>
